<extend name="Layout:common"/>
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('index')}">商品分类管理</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$meta_title} </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="{:U()}" enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">商品分类名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">父级分类</td>
                <td>
                    <input type="hidden" name="parent_id" id="parent_id" value='{$row.parent_id|default=0}' />
                    <input type="text" readonly="readonly" id="parent_name" value="{$category_name|default= '请选择'}"/>
                    <ul class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">商品分类描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4" style='resize: none;'>{$row.intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$row.sort|default=20}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" /> 是
                    <input type="radio" name="status" value="0"  /> 否
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name='id'  value="{$row.id}" />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.core.min.js'/>
    <script type='text/javascript'>
        $(function(){
            $(':input[name=status]').val([{$row.status|default=1}]);
            $(':input[name=is_help]').val([{$row.is_help|default=0}]);
                
            //zTree
            var setting = {
                data : {
                    simpleData : {
                        enable : true,
                        pIdKey:'parent_id'
                    }
                },
                callback:{
                    onClick : function(event,tree_id,tree_node){
                        $('#parent_id').val(tree_node.id);
                        $('#parent_name').val(tree_node.name);
                    }
                }
                
            };
            var zNodes = {$categorys} ;
            var zTree = $.fn.zTree.init($('.ztree'),setting,zNodes);
            zTree.expandAll(true);
        });
    </script>
</block>
<block name="css">
    <css href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" />
    <style type="text/css">
        ul.ztree{
              margin-top: 10px;
              border:1px solid #617775;
              background: #f0f6e4;
              width: 200px;
              overflow-x: auto;
              overflow-y: scroll;
        }
    </style>
</block>