<extend name="Layout:member"/>
<block name="css">
        <style type="text/css">
            .red {
                color:red;
            }
        </style>
</block>
<block name="main">
        <!-- 登录主体部分start -->
        <div class="login w990 bc mt10 regist">
            <div class="login_hd">
                <h2>用户注册</h2>
                <b></b>
            </div>
            <div class="login_bd">
                <div class="login_form fl">
                    <form action="{:U()}" method="post" id='signup'>
                        <ul>
                            <li>
                                <label for="">用户名：</label>
                                <input type="text" class="txt" name="username" /><span class='red'></span>
                                <p>2-16位字符，可由中文、字母、数字和下划线组成</p>
                            </li>
                            <li>
                                <label for="">密码：</label>
                                <input type="password" class="txt" name="password" id='password'/><span class='red'></span>
                                <p>6-16位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p>
                            </li>
                            <li>
                                <label for="">确认密码：</label>
                                <input type="password" class="txt" name="repassword" /><span class='red'></span>
                                <p> <span>请再次输入密码</p>
                            </li>
                            <li>
                                <label for="">邮箱：</label>
                                <input type="text" class="txt" name="email" /><span class='red'></span>
                                <p>邮箱必须合法</p>
                            </li>
                            <li>
                                <label for="">手机号码：</label>
                                <input type="text" class="txt" value="" name="tel" id="tel" placeholder=""/><span class='red'></span>
                            </li>
                            <li>
                                <label for="">验证码：</label>
                                <input type="text" class="txt" value="" placeholder="请输入短信验证码" name="captcha" disabled="disabled" id="captcha"/> <input type="button" onclick="bindPhoneNum(this)" id="get_captcha" value="获取验证码" style="height: 25px;padding:3px 8px"/><span class='red'></span>

                            </li>
                            <li class="checkcode">
                                <label for="">验证码：</label>
                                <input type="text"  name="checkcode" /><span class='red'></span>
                                <img src="{:U('Verify/verify',['nocache'=>NOW_TIME])}" alt="" id="checkcode"/>
                                <span>看不清？<a href="javascript:;" onclick="change_captcha()">换一张</a></span>
                            </li>

                            <li>
                                <label for="">&nbsp;</label>
                                <input type="checkbox" class="chb" checked="checked" name="agree" /> 我已阅读并同意《用户注册协议》<span class='red'></span>
                            </li>
                            <li>
                                <label for="">&nbsp;</label>
                                <input type="submit" value="" class="login_btn" />
                            </li>
                        </ul>
                    </form>


                </div>

                <div class="mobile fl">
                    <h3>手机快速注册</h3>			
                    <p>中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：</p>
                    <p><strong>1069099988</strong></p>
                </div>

            </div>
        </div>
        <!-- 登录主体部分end -->
</block>
<block name="js">
    <js href="__JS__/jquery.min.js"/>
    <js href="__JQ_VALIDATION__/jquery.validate.js"/>
    <script type="text/javascript">
        function change_captcha(){
            $('#checkcode').attr('src', '{:U("Verify/verify")}?nocache=' + new Date().getTime());
        }
        
        function bindPhoneNum() {
            //启用输入框
            $('#captcha').prop('disabled', false);
            //发送ajax请求到后台
            var url = '{:U("sendSMS")}';
            var data = {
                'telphone':$('#tel').val(),
            };
            $.getJSON(url,data,function(response){
                console.debug(response);
            });

            var time = 30;
            var interval = setInterval(function () {
                time--;
                if (time <= 0) {
                    clearInterval(interval);
                    var html = '获取验证码';
                    $('#get_captcha').prop('disabled', false);
                } else {
                    var html = time + ' 秒后再次获取';
                    $('#get_captcha').prop('disabled', true);
                }

                $('#get_captcha').val(html);
            }, 1000);
        }


        $(function(){
            $("#signup").validate({
                errorPlacement:function(error,element){
                    var msg = error[0].innerHTML;
                    element.siblings('.red').text(msg);
                },
                success:function(error,element){
                    $(element).siblings('.red').text('');//成功后清空错误提示内容
                },
                rules:{
                    username:{
                        required:true,
                        rangelength:[2,16],
                        //不能重复
                        remote:'{:U("Member/checkUniqueByParams")}',
                    },
                    password:{
                        required:true,
                        rangelength:[6,16],
                    },
                    repassword:{
                        required:true,
                        rangelength:[6,16],
                        equalTo:'#password',
                    },
                    email:{
                        required:true,
                        email:true,
                        remote:'{:U("Member/checkUniqueByParams")}',
                    },
                    tel:{
                        required:true,
                        number:true,
                        china_mobile:true,
                        remote:'{:U("Member/checkUniqueByParams")}',
                    },
                    captcha:{
                        required:true,
                    },//手机验证码
                    checkcode:{
                        required:true,
                    },//图片验证码
                    agree:'required',
                },
                messages:{
                    username:{
                        required:'用户名必填',
                        rangelength:'用户名长度必须是2-16位',
                        remote:'用户名已存在',
                    },
                    password:{
                        required:'密码必填',
                        rangelength:'密码长度必须是6-16位',
                    },
                    repassword:{
                        required:'密码必填',
                        rangelength:'密码长度必须是6-16位',
                        equalTo:'两次密码不一致',
                    },
                    email:{
                        required:'邮箱必填',
                        email:'邮箱格式不合法',
                        remote:'邮箱已存在',
                    },
                    tel:{
                        required:'手机号码必填',
                        number:'手机号码不合法',
                        remote:'手机号码已存在',
                    },
                    captcha:{
                        required:'手机验证码必填',
                    },//手机验证码
                    checkcode:{
                        required:'验证码必填',
                    },//图片验证码
                    agree:'请先同意许可协议',
                },
            });

            //自定义验证规则
            $.validator.addMethod('china_mobile',function(value,element,params){
                var mobile = /^(13|14|15|17|18)\d{9}$/;
                return this.optional(element) || mobile.test(value);
            },'手机号码不正确');
        });
    </script>
</block>